@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/* MENU LATERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 940px;
  font-family: "Montserrat", sans-serif;
}

.page-header {
  padding: 10px;
  background-color: black;
}

.header-logo a img {
  width: 150px;
  height: 150px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  background: #F1F0EA;
}

.side-nav {
  max-width: 250px;
  background: #c0beb4;
}

.side-nav ul li {
  width: 200px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.side-nav ul li a {
  display: block;
  color: #4d4c4c;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}

.side-nav ul li.active a {
  background-color: transparent;
  color: #f25555;
  text-decoration: underline 3px;
}

.side-nav ul li a:hover {
  color: #f25555;
  text-decoration: underline 3px;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* HOME */
.boas-vindas {
margin: 20px auto;
}

.opcoes-sushi {
  padding: 15px;
}

.opcoes-sushi .opcoes-card{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.opcoes-sushi .opcoes-title p{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #7a848e;
}

.opcoes-sushi .opcoes-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-size: 22px;
  letter-spacing: 0.14em;
  color: #f64d00;
}

.opcoes-sushi .card {
  width: 180px;
  height: 320px;
  background-color: #F1F0EA;
  border-radius: 24px 0px;
  margin: 25px 25px;
  position: relative;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.opcoes-sushi .card-content h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 0.7;
  color: #212121;
}

.opcoes-sushi .card-image {
  width: 180px;
  height: 180px;
  border-radius: 20px 0 0 0;
  object-fit: cover;
}

.opcoes-sushi .card-content {
  padding: 10px;
}

.opcoes-sushi .card-content ul {
  flex-direction: column;
  display: flex;
  padding: 10px 0;
}

.opcoes-sushi .card-content ul li {
  font-size: 12px;
  color: #212121;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.opcoes-sushi .card-content ul li:last-child {
  font-size: 8px;
  display: flex;
  align-items: center;
}

.opcoes-sushi .card .card-tag-top {
  position: absolute;
  right: 0;
  top: 10px;
  background: #fc7821;
  padding: 5px 10px;
  line-height: 0.5;
}

.opcoes-sushi .card .card-tag-bottom {
  position: absolute;
  left: 0;
  top: 160px;
  background: #52AA5E;
  border-radius: 0px 8px 8px 0px;
  padding: 5px 10px;
}

.opcoes-sushi .card .card-tag p {
  margin: 0;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

/* CONTATO */

section.contact {
  margin: auto;
}

section.contact h2 {
  color: #212121;
  display: block;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

.contact-wrapper {
  display: flex;
}

form label {
  color: #212121;
  display: block;
  font-size: 17px;
  margin: 0 0 10px;
  width: 400px;
}

form .input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 5px 10px;
  width: 100%;
}

.btn {
  width: 100px;
  padding: 10px 0;
  display: block;
  color: #52AA5E;
  border-color: #52AA5E;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px auto;
}

.btn:hover {
  background: #52AA5E;
  color: #fff;
  text-transform: uppercase;
  transition: 1s all;
  cursor: pointer;
}
