@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 940px;
  font-family: "Lato", sans-serif;
  background: #faf7f7;
}

.page-header {
  /* border-bottom: 10px #45CB85 solid; */
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
}

.page-header h2 {
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
}

.side-nav {
  max-width: 250px;
  background: #faf7f7;
}

.side-nav ul li {
  width: 200px;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.side-nav ul li a {
  display: block;
  color: #7c8a97;
  background-color: transparent;
  text-decoration: none;
  font-size: 0.9rem;
}

.side-nav ul li.active a {
  background-color: transparent;
  color: #f64d00;
  text-decoration: underline 3px;
}

.side-nav ul li a:hover {
  color: #f64d00;
  text-decoration: underline 3px;
  webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

section.contact {
  margin: auto;
}

section.contact h2 {
  display: block;
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.main-container .contact-wrapper {
  display: flex;
}

form label {
  display: block;
  font-size: 17px;
  margin: 0 0 10px;
}

form .input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 5px 10px;
  width: 100%;
}

.btn {
  width: 400px;
  padding: 15px 0;
  color: #f64d00;
  background: #fff;
  border-color: #f64d00;
  text-transform: uppercase;
  font-weight: 400;
}

.btn:hover {
  background: #f64d00;
  color: #fff;
  text-transform: uppercase;
  transition: 1s all ease;
  cursor: pointer;
}
